.ant-row {
    height: 100% !important;
}
.bg {
    background-image: url("../../../assets/icon/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
ion-icon {
    position: absolute;
    top: 25%;
    font-size: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
h4 {
    position: absolute;
    color: white;
    color: var(--ion-color-vh-white);
    top: 50%;
    font-size: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid white;
}
