<!-- <nz-layout>
    <nz-header>
        <div nz-row>
            <div nz-col nzSpan="3" class="logo">
                <img style="height: 50px;" src="assets/icon/login/logo.svg" />
            </div>
            <div nz-col nzSpan="13">
                <ul nz-menu nzMode="horizontal">
                    <li nz-menu-item [nzSelected]="getLastPath() == '/liveview'" [routerLink]="['/liveview']">
                        <i nz-icon nzType="video-camera" nzTheme="outline"></i>
                        {{'Live view'|translate}}
                    </li>
                    <li (click)="gotoPlayback()" nz-menu-item
                        [nzSelected]="getLastPath() == '/playback' ? true : false ">
                        <ion-icon src="./assets/icon/playback.svg"></ion-icon>
                        {{'Playback'|translate}}
                    </li>
                    <li [nzSelected]="getLastPath() == '/area' ? true : false || getLastPath() == '/user' ? true : false"
                        nz-menu-item nz-dropdown [nzDropdownMenu]="setting" nzPlacement="bottomRight">
                        <i nz-icon nzType="setting" nzTheme="outline"></i>
                        {{'Settings'|translate}}
                    </li>
                    <nz-dropdown-menu #setting="nzDropdownMenu">
                        <ul nz-menu nzSelectabl>
                            <div nz-row style="background-color: white; display: flex;flex-direction: column;">
                                <li nz-menu-item (click)="gotoArea()">{{'Area management' | translate}}</li>
                                <li nz-menu-item (click)="gotoUser()">{{'User management' | translate}}</li>
                            </div>
                        </ul>
                    </nz-dropdown-menu>
                </ul>
            </div>
            <div nz-col nzSpan='8' class="right-col">
                <div class='button' [style.background]="colorActive ? colorActive.color:'#00a859'" nz-button nz-dropdown
                    [nzDropdownMenu]="color" nzPlacement="bottomRight">
                </div>
                <nz-dropdown-menu #color="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <div nz-row class='background-color'>
                            <div class="body-color" nz-col nzSpan='8' *ngFor="let color of colors">
                                <li (click)="changeColor(color,$event)" class='color' [style.background]="color.color"
                                    nz-menu-item nz-button></li>
                                <ion-icon *ngIf="color.value == (colorActive ? colorActive.value : 'vh-theme') "
                                    color="vh-white" name="checkmark-outline"></ion-icon>
                            </div>
                        </div>
                    </ul>
                </nz-dropdown-menu>
                <div class='lang'>
                    <nz-select [(ngModel)]="lang" (ngModelChange)="selectLang($event)" nzBorderless
                        [nzCustomTemplate]="defaultTemplate">
                        <nz-option *ngFor="let item of langList" nzLabel="{{item.name | translate}}" nzCustomContent
                            [nzValue]="item.value">
                            <img style="width: 24px;" [src]="item.img" /> {{item.name}}
                        </nz-option>
                    </nz-select>
                    <ng-template #defaultTemplate let-selected>
                        <img style="width: 24px;" src="assets/icon/settings/language/{{selected.nzValue}}.svg" />
                        {{selected.nzLabel}}
                    </ng-template>
                </div>
                <div class='info' nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                    <div class='name'>
                        {{vhAuth.getUser().name ? vhAuth.getUser().name : ''}}</div>
                    <nz-avatar
                        [nzSrc]='vhAuth.getUser().img ? vhAuth.getUser().img : "assets/icon/login/username.svg" '>
                    </nz-avatar>
                </div>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <div nz-row style="background-color: white; display: flex;flex-direction: column;">
                        <ul nz-menu nzSelectable>
                            
                            <li (click)="logout()" nz-menu-item><i nz-icon nzType="logout" nzTheme="outline"></i> {{'Log out' |
                                translate}}
                            </li>
                        </ul>
                    </div>
                </nz-dropdown-menu>
            </div>
        </div>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
</nz-layout> -->