<ion-app>
    <ion-tabs>
        <ion-tab-bar id="cloucam_tab" mode="md" slot="bottom">
            <ion-tab-button tab="liveview" class="ion-activatable">
                <ion-icon name="videocam-outline" class="size-icon"></ion-icon>
                <ion-label class="ion-no-margin">{{'Live view'|translate}}</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="play-back" class="ion-activatable">
                <ion-icon class="size-icon" src="./assets/icon/playback.svg"></ion-icon>
                <ion-label class="ion-no-margin">{{'Playback'|translate}}</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="settings" class="ion-activatable">
                <ion-icon class="size-icon" src="./assets/icon/settings.svg"></ion-icon>
                <ion-label class="ion-no-margin">{{'Settings'|translate}}</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-app>