<ion-content>
    <ion-grid class="register" fixed>
        <ion-row>
            <ion-col class="register-form" size="12">
                <form [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
                    <ion-item mode="ios" class="register-form-item ion-no-padding" lines="none"
                        [ngClass]="registerForm.get('email').hasError('pattern') && 
                    (registerForm.get('email').dirty || registerForm.get('email').touched) ? 'register-form-item-red': 'register-form-item-normal'">
                        <ion-label>
                            <ion-icon src="assets/icon/login/username.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" placeholder="{{'Email' | translate}}*" formControlName="email" clearInput
                            inputmode="email" type="email"></ion-input>
                    </ion-item>

                    <ion-item mode="ios" class="register-form-item ion-no-padding" lines="none"
                        [ngClass]="registerForm.get('password').hasError('minlength') && 
                    (registerForm.get('password').dirty || registerForm.get('password').touched) ? 'register-form-item-red': 'register-form-item-normal'">
                        <ion-label>
                            <ion-icon src="assets/icon/login/password.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios"
                            placeholder="{{'Password' | translate}}* ({{'At least 6 characters long' | translate}})"
                            formControlName="password" clearOnEdit="false" [type]="_SHOW_PASS ? 'text' : 'password'">
                        </ion-input>
                        <ion-icon class="ion-no-margin" (click)="_SHOW_PASS = !_SHOW_PASS " slot="end"
                            [name]="_SHOW_PASS ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                    </ion-item>
                    <ion-item mode="ios" class="register-form-item ion-no-padding" lines="none">
                        <ion-label>
                            <ion-icon src="assets/icon/login/business.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" placeholder="{{'Business name' | translate}}*" formControlName="company"
                            clearInput type="text"></ion-input>
                    </ion-item>

                    <ion-item mode="ios" class="register-form-item ion-no-padding" lines="none">
                        <ion-label>
                            <ion-icon src="assets/icon/login/username.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" placeholder="{{'Full name' | translate}}*" formControlName="name"
                            clearInput type="text">
                        </ion-input>
                    </ion-item>

                    <ion-item mode="ios" class="register-form-item ion-no-padding" lines="none">
                        <ion-label>
                            <ion-icon src="assets/icon/login/address.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" placeholder="{{'Address' | translate}}*" formControlName="address"
                            clearInput type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item style="cursor: pointer;" mode="ios" class="register-form-item ion-no-padding" lines="none"
                        (click)="searchPhoneCode()">
                        <ion-label>
                            <ion-icon src=" assets/icon/login/phone.svg">
                            </ion-icon>
                        </ion-label>
                        <ion-label color="vh-green"><b>{{countrycode}}</b></ion-label>
                        <ion-input (click)="$event.stopPropagation()" mode="ios" clearInput inputmode="numeric"
                            [ngClass]="registerForm.get('phone').hasError('pattern') && (registerForm.get('phone').dirty || registerForm.get('phone').touched) ? 'register-form-item-red': 'register-form-item-normal'"
                            (ionChange)="checkKey()" placeholder="{{'Phone number' | translate}}*"
                            formControlName="phone" type="tel">
                        </ion-input>
                    </ion-item>
                    <ion-button mode="md" type="submit" class="register-form-register" fill="solid" expand="full"
                        [disabled]="registerForm.invalid" shape="round">
                        {{"Register" | translate}}
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="register-nav" size="12">
                {{"You have an account?" | translate}} <a [routerLink]="['desktop/login']">{{"Log in"|translate}}</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>