ion-header {
  ion-title {
    padding: 0 16px;
    ion-searchbar {
      background: transparent;
    }
  }
}
ion-content {
  .product-item {
    --background: transparent;
    --inner-padding-start: 16px;
    &-name {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}
