<ion-header mode="ios" translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">{{'Cancel' | translate}}</ion-button>
      </ion-buttons>
      <ion-title>{{'Classify' | translate}}</ion-title>
      
    </ion-toolbar>
    <!-- <ion-toolbar style="padding:0 8px">
      <ion-searchbar placeholder="{{'Search' | translate}}"></ion-searchbar>
    </ion-toolbar> -->
  </ion-header>
  <ion-content fullscreen>
    <ion-grid >
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <div style="border-radius: 10px;margin: 0;">
          <ion-list>
            <ion-item mode="md" button *ngFor="let item of listRoom" (click)="dismissModal(item)">
              <ion-icon slot="start" color="vh-green" [src]="item.icon"></ion-icon>
              <ion-label >{{item.name}}</ion-label>
            </ion-item>       
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  
  
  </ion-grid>
  </ion-content>
  