.background_outside {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: black;
    opacity: 0.1;
}

ion-label{
    cursor: pointer;
}

.popup {
    z-index: 5;
    width: 90%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center-text{
    width: 75%;
    margin: auto;
    text-align: center;
}
.center-content{
    display: flex;
    justify-content: center;
}
.right-content{
    display: flex;
    justify-content: flex-end;
}