<div *ngIf="show_popup" class="background_outside"></div>
  <ion-card *ngIf="show_popup" class="popup" [ngStyle]="{'left': isIpad ? '49' + '%' : '47' + '%'}">
    <ion-row class="center-text" style=" margin-top: 20px;">
      <ion-col class="center-content">
        <ion-label color="vh-black" class="ion-text-cente large_size">
          <b>{{'Please place the controller close to the controller device' | translate}}</b>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;">
      <ion-col class="center-content">
        <img src="assets/images/bridge1.svg" alt="">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30px;width: 90%;">
      <ion-col class="right-content">
        <ion-label color="vh-green" class="ion-text-center large_size" (click)="show_popup = false;this.hide.emit(true)">
          {{'Confirm' | translate}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>

