<ion-content>
    <ion-grid class="login" fixed [ngStyle]="{'height': 'calc('+ _SCREEN_HEIGHT +'px - 50px)'}">
        <ion-row>
            <ion-col class="login-logo" size="12">
                <ion-img class="logo-img" src="assets/icon/login/logo.svg"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="login-form" size="12">
                <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">

                    <ion-item mode="ios" class="login-form-item ion-no-padding" lines="none"
                        [ngClass]="loginForm.get('email').hasError('pattern') && 
                        (loginForm.get('email').dirty || loginForm.get('email').touched) ? 'login-form-item-red': 'login-form-item-normal'">
                        <ion-label>
                            <ion-icon src="assets/icon/login/username.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" formControlName="email" type="text" placeholder="{{'Email' | translate}}"
                            clearInput>
                        </ion-input>
                    </ion-item>

                    <ion-item mode="ios" class="login-form-item ion-no-padding" lines="none"
                        [ngClass]="loginForm.get('password').hasError('minlength') && 
                        (loginForm.get('password').dirty || loginForm.get('password').touched) ? 'login-form-item-red': 'login-form-item-normal'">
                        <ion-label>
                            <ion-icon src="assets/icon/login/password.svg"></ion-icon>
                        </ion-label>
                        <ion-input mode="ios" formControlName="password" [type]="_SHOW_PASS ? 'text' : 'password'"
                            placeholder="{{'Password' | translate}}" (keyup)="checkKey($event)"></ion-input>
                        <ion-icon class="ion-no-margin" (click)="_SHOW_PASS = !_SHOW_PASS " slot="end"
                            [name]="_SHOW_PASS ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                    </ion-item>

                    <div class="login-form-fopass">
                        <ion-button mode="ios" fill="clear" color="vh-black" class="login-form-fopass-btn" (click)="forgotPassword()">
                            {{'Forgot password?'| translate}}
                        </ion-button>
                    </div>
                </form>
                <ion-button (click)="form.onSubmit($event)" type="submit" mode="md" class="login-form-login"
                    fill="solid" expand="full" [disabled]="loginForm.invalid" shape="round"
                    style="--background: #00a859;">
                    {{"Log in" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="register-nav" size="12">
                {{"You don't have an account?" | translate}} <a
                    [routerLink]="['/mobile/login/register']">{{"Register"|translate}}</a>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="lang">
        <ion-row>
            <ion-col class="lang-item" size="12">
                <ion-button mode="ios" class="lang-item-btn" fill="clear" (click)="selectLang()">
                    <ion-icon slot="start" [src]="lang.img"></ion-icon>
                    {{lang.name | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>