<nz-layout>
    <div nz-row class='body'>
        <div nz-col nzSpan="6" class="left">
            <div class="color">
                <div class='info'>
                    <img [src]="service.setBackgroundImg()" alt="">
                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-no-padding">
                            <ion-col>
                                <ion-card (click)="gotoPratice()" class="out" button>
                                    <div class="in">Đọc thư</div>
                                </ion-card>
                                <ion-card (click)="gotoMusic()" class="out" button>
                                    <div class="in">Nghe nhạc</div>
                                </ion-card>
                                <ion-card (click)="openTheme()" class="out" button>
                                    <div class="in">Giao diện</div>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="1"></div>
        <div nz-col nzSpan="17" class="right">
            <div class="color">
                <ion-router-outlet></ion-router-outlet>
            </div>
        </div>
    </div>
</nz-layout>